{
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "extends": "google",
  "parserOptions": {
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "rules": {
    "linebreak-style": "off",
    "comma-dangle": "off",
    "camelcase": "off"
  }
}