<div class="row">
  <ul class="collection col s12 m12 l12 xl12">
    <li class="collection-item avatar">
      <img src="/img/jane_doe.jpg" class="circle" />
      <span class="title grey-text text-darken-4">Jane Doe</span>
      <p class="black-text">
        <blockquote>
          This is where the image description is gonna go
        </blockquote>
      </p>
      <a href="#" class="secondary-content"><i class="material-icons">chevron_right</i></a>
    </li>
    <li class="collection-item avatar">
      <img src="/img/jane_doe.jpg" class="circle" />
      <span class="title grey-text text-darken-4">Jane Doe</span>
      <p class="black-text">
        <blockquote>
          This is where the image description is gonna go
        </blockquote>
      </p>
      <a href="#" class="secondary-content"><i class="material-icons">chevron_right</i></a>
    </li>
    <li class="collection-item avatar">
      <img src="/img/jane_doe.jpg" class="circle" />
      <span class="title grey-text text-darken-4">Jane Doe</span>
      <p class="black-text">
        <blockquote>
          This is where the image description is gonna go
        </blockquote>
      </p>
      <a href="#" class="secondary-content"><i class="material-icons">chevron_right</i></a>
    </li>
    <li class="collection-item avatar">
      <img src="/img/jane_doe.jpg" class="circle" />
      <span class="title grey-text text-darken-4">Jane Doe</span>
      <p class="black-text">
        <blockquote>
          This is where the image description is gonna go
        </blockquote>
      </p>
      <a href="#" class="secondary-content"><i class="material-icons">chevron_right</i></a>
    </li>
    <li class="collection-item avatar">
      <img src="/img/jane_doe.jpg" class="circle" />
      <span class="title grey-text text-darken-4">Jane Doe</span>
      <p class="black-text">
        <blockquote>
          This is where the image description is gonna go
        </blockquote>
      </p>
      <a href="#" class="secondary-content"><i class="material-icons">chevron_right</i></a>
    </li>
    <li class="collection-item avatar">
      <img src="/img/jane_doe.jpg" class="circle" />
      <span class="title grey-text text-darken-4">Jane Doe</span>
      <p class="black-text">
        <blockquote>
          This is where the image description is gonna go
        </blockquote>
      </p>
      <a href="#" class="secondary-content"><i class="material-icons">chevron_right</i></a>
    </li>
    <li class="collection-item avatar">
      <img src="/img/jane_doe.jpg" class="circle" />
      <span class="title grey-text text-darken-4">Jane Doe</span>
      <p class="black-text">
        <blockquote>
          This is where the image description is gonna go
        </blockquote>
      </p>
      <a href="#" class="secondary-content"><i class="material-icons">chevron_right</i></a>
    </li>
    <li class="collection-item avatar">
      <img src="/img/jane_doe.jpg" class="circle" />
      <span class="title grey-text text-darken-4">Jane Doe</span>
      <p class="black-text">
        <blockquote>
          This is where the image description is gonna go
        </blockquote>
      </p>
      <a href="#" class="secondary-content"><i class="material-icons">chevron_right</i></a>
    </li>
    <li class="collection-item avatar">
      <img src="/img/jane_doe.jpg" class="circle" />
      <span class="title grey-text text-darken-4">Jane Doe</span>
      <p class="black-text">
        <blockquote>
          This is where the image description is gonna go
        </blockquote>
      </p>
      <a href="#" class="secondary-content"><i class="material-icons">chevron_right</i></a>
    </li>
    <li class="collection-item avatar">
      <img src="/img/jane_doe.jpg" class="circle" />
      <span class="title grey-text text-darken-4">Jane Doe</span>
      <p class="black-text">
        <blockquote>
          This is where the image description is gonna go
        </blockquote>
      </p>
      <a href="#" class="secondary-content"><i class="material-icons">chevron_right</i></a>
    </li>
    <li class="collection-item avatar">
      <img src="/img/jane_doe.jpg" class="circle" />
      <span class="title grey-text text-darken-4">Jane Doe</span>
      <p class="black-text">
        <blockquote>
          This is where the image description is gonna go
        </blockquote>
      </p>
      <a href="#" class="secondary-content"><i class="material-icons">chevron_right</i></a>
    </li>
    <li class="collection-item avatar">
      <img src="/img/jane_doe.jpg" class="circle" />
      <span class="title grey-text text-darken-4">Jane Doe</span>
      <p class="black-text">
        <blockquote>
          This is where the image description is gonna go
        </blockquote>
      </p>
      <a href="#" class="secondary-content"><i class="material-icons">chevron_right</i></a>
    </li>
    <li class="collection-item avatar">
      <img src="/img/jane_doe.jpg" class="circle" />
      <span class="title grey-text text-darken-4">Jane Doe</span>
      <p class="black-text">
        <blockquote>
          This is where the image description is gonna go
        </blockquote>
      </p>
      <a href="#" class="secondary-content"><i class="material-icons">chevron_right</i></a>
    </li>
    <li class="collection-item avatar">
      <img src="/img/jane_doe.jpg" class="circle" />
      <span class="title grey-text text-darken-4">Jane Doe</span>
      <p class="black-text">
        <blockquote>
          This is where the image description is gonna go
        </blockquote>
      </p>
      <a href="#" class="secondary-content"><i class="material-icons">chevron_right</i></a>
    </li>
    <li class="collection-item avatar">
      <img src="/img/jane_doe.jpg" class="circle" />
      <span class="title grey-text text-darken-4">Jane Doe</span>
      <p class="black-text">
        <blockquote>
          This is where the image description is gonna go
        </blockquote>
      </p>
      <a href="#" class="secondary-content"><i class="material-icons">chevron_right</i></a>
    </li>
    <li class="collection-item avatar">
      <img src="/img/jane_doe.jpg" class="circle" />
      <span class="title grey-text text-darken-4">Jane Doe</span>
      <p class="black-text">
        <blockquote>
          This is where the image description is gonna go
        </blockquote>
      </p>
      <a href="#" class="secondary-content"><i class="material-icons">chevron_right</i></a>
    </li>
    <li class="collection-item avatar">
      <img src="/img/jane_doe.jpg" class="circle" />
      <span class="title grey-text text-darken-4">Jane Doe</span>
      <p class="black-text">
        <blockquote>
          This is where the image description is gonna go
        </blockquote>
      </p>
      <a href="#" class="secondary-content"><i class="material-icons">chevron_right</i></a>
    </li>
    <li class="collection-item avatar">
      <img src="/img/jane_doe.jpg" class="circle" />
      <span class="title grey-text text-darken-4">Jane Doe</span>
      <p class="black-text">
        <blockquote>
          This is where the image description is gonna go
        </blockquote>
      </p>
      <a href="#" class="secondary-content"><i class="material-icons">chevron_right</i></a>
    </li>
  </ul>
</div>