<div class="row">
  <div class="col s12 m12 l12 xl12">
    <div class="card grey lighten-5 marginize-top">
      <div class="card-content orange-text text-lighten-2">
        <span class="card-title">
          <h6>Login</h6>
        </span>
        <div class="row">
          <form class="col s12 m12 l12 xl12">
            <div class="row">
              <div class="input-field col s12 m12 l12 xl12">
                <i class="small material-icons prefix">person</i>
                <input id="username" name="username" type="text" class="validate" required>
                <label for="username">Username</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12 m12 l12 xl12">
                <i class="small material-icons prefix">lock</i>
                <input id="password" name="password" type="password" class="validate" required>
                <label for="password">Password</label>
              </div>
            </div>
            <button class="waves-effect waves-light btn blue accent-3 btn-large col s12" type="submit">Login</button>
          </form>
        </div>
      </div>
      <div class="card-action">
        <a href="#/landing">Home</a>
        <a href="#/signup">Sign Up</a>
      </div>
    </div>
  </div>
</div>