<div class="row">
  <div class="col s12 m6">
    <div class="card">
      <span class="card-title">
        <h4>Login</h4>
      </span>
      <div class="card-content">
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <i class="small material-icons prefix">person</i>
                <input id="username" name="username" type="text" class="validate" required>
                <label for="username">Username</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="small material-icons prefix">lock</i>
                <input id="password" name="password" type="password" class="validate" required>
                <label for="password">Password</label>
              </div>
            </div>
            <button class="waves-effect waves-light btn" type="submit">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>