<section class="special has-top-margin-em has-bottom-margin">
  <div class="feed-item">
    <div>
      <img class="small" src="/img/kingy.jpg" />
      <i class="fas fa-pull-right fa-sm fa-ellipsis-h"></i>
    </div>
    <div>
      <img class="upload" src="/img/kingy.jpg" />
    </div>
    <div>
      <i class="fas fa-lg fa-pull-left fa-heart shadowed"></i>
      <i class="fas fa-lg fa-pull-left fa-comment shadowed"></i>
      <i class="fas fa-lg fa-pull-left fa-camera shadowed"></i>
      <i class="fas fa-lg fa-pull-right fa-download shadowed"></i>
    </div>
  </div>
  <div class="feed-item">
    <div>
      <img class="small" src="/img/kingy.jpg" />
      <i class="fas fa-pull-right fa-sm fa-ellipsis-h"></i>
    </div>
    <div>
      <img class="upload" src="/img/kingy.jpg" />
    </div>
    <div>
      <i class="fas fa-lg fa-pull-left fa-heart shadowed"></i>
      <i class="fas fa-lg fa-pull-left fa-comment shadowed"></i>
      <i class="fas fa-lg fa-pull-left fa-camera shadowed"></i>
      <i class="fas fa-lg fa-pull-right fa-download shadowed"></i>
    </div>
  </div>
  <div class="feed-item">
    <div>
      <img class="small" src="/img/kingy.jpg" />
      <i class="fas fa-pull-right fa-sm fa-ellipsis-h"></i>
    </div>
    <div>
      <img class="upload" src="/img/kingy.jpg" />
    </div>
    <div>
      <i class="fas fa-lg fa-pull-left fa-heart shadowed"></i>
      <i class="fas fa-lg fa-pull-left fa-comment shadowed"></i>
      <i class="fas fa-lg fa-pull-left fa-camera shadowed"></i>
      <i class="fas fa-lg fa-pull-right fa-download shadowed"></i>
    </div>
  </div>
</section>
