<nav class="header toolbar-raised toolbar-purple toolbar-flex-end">
  <a id="a-search" class="btn" href="#search">
    <i class="fas fa-lg fa-pull-right fa-search"></i>
  </a>
  <button id="vert-dots">
    <i class="fas fa-lg fa-pull-right fa-ellipsis-v"></i>
  </button>
</nav>
<div class="sidebar" id="sidebar">
  <button id="cancel">
    <i class="fas fa-sm fa-pull-right fa-times"></i>
  </button>
</div>
<div id="home">
  <!--The rendering context for this template since it is a parent template-->
</div>
<nav class="footer toolbar-raised-invert toolbar-purple toolbar-flex-center">
  <a id="a-feeds" class="btn" href="#feeds">
    <i class="fas fa-lg fa-rss"></i>
  </a>
  <a id="a-profile" class="btn" href="#profile">
    <i class="fas fa-lg fa-user"></i>
  </a>
  <a id="a-settings" class="btn" href="#settings">
    <i class="fas fa-lg fa-cog"></i>
  </a>
  <a id="a-upload" class="btn" href="#upload">
    <i class="fas fa-lg fa-camera"></i>
  </a>
</nav>
