<nav class="header toolbar-raised toolbar-ghostey toolbar-flex-end">
  <a id="a-search" class="btn" href="#search">
    <i class="fas fa-lg fa-search"></i>
  </a>
  <button id="vert-dots" class="b-sidebar">
    <i class="fas fa-lg fa-pull-right fa-ellipsis-v"></i>
  </button>
</nav>
<div class="sidebar" id="sidebar">
  <button id="cancel" class="b-sidebar">
    <i class="fas fa-sm fa-pull-right fa-times"></i>
  </button>
  <div class="user-area">
    <img src="/img/avatar.jpg" id="user-img" />
    <h5 id="user-username" style="padding-left: 0.5em;">
      Username would appear here
    </h5>
  </div>
  <ul>
    <li>
      <a href="#profile">
        <i class="fas fa-lg fa-pull-left fa-user"></i>
        <span>Profile</span>
      </a>
    </li>
    <li>
      <a href="#settings">
        <i class="fas fa-lg fa-pull-left fa-cog"></i>
        <span>Settings</span>
      </a>
    </li>
    <li>
      <a href="#search">
        <i class="fas fa-lg fa-pull-left fa-search"></i>
        <span>Search</span>
      </a>
    </li>
    <li>
      <a>
        <i class="fas fa-lg fa-pull-left fa-bell"></i>
        <span>Notifications</span>
      </a>
    </li>
  </ul>
</div>
<div id="home">
  <!--The rendering context for this template since it is a parent template-->
</div>
<nav class="footer toolbar-raised-invert toolbar-ghostey toolbar-flex-center">
  <a id="a-feeds" class="btn" href="#feeds">
    <i class="fas fa-lg fa-rss"></i>
  </a>
  <a id="a-profile" class="btn" href="#profile">
    <i class="fas fa-lg fa-user"></i>
  </a>
  <a id="a-settings" class="btn" href="#settings">
    <i class="fas fa-lg fa-cog"></i>
  </a>
  <a id="a-upload" class="btn" href="#upload">
    <i class="fas fa-lg fa-camera"></i>
  </a>
</nav>
