<!-- <div class="header has-vert">
    <button>
      <i class="fa fa-ellipsis-v"></i>
    </button>
  </div> -->
<!--Contents go here-->
<section class="special has-top-margin" id="landing">
  <p>
    Share photos with friends and family. Join a whole new world of excitement.
    Behold the world in a whole different perspective.
  </p>
  <!-- <p>
          <section class="has-svgs as-horizontal">
            <img src="/svg/photo-camera.svg">
            <img src="/svg/video-camera.svg">
          </section>
        </p> -->
</section>
<section class="special">
  <a href="#login">
    <i class="fas fa-lg fa-pull-left fa-user-lock"></i>
    Login
  </a>
  <a href="#signup">
    <i class="fas fa-lg fa-pull-left fa-user-plus"></i>
    Sign Up
  </a>
</section>
