<section class="special has-top-margin" id="login">
  <p>Sign In</p>
  <div class="input-group">
    <form>
      <!-- <i class="fas fa-sm fa-pull-left fa-user"></i> -->
      <input type="text" placeholder="Username" />
      <input type="password" placeholder="Password" />
      <button type="submit">Sign In</button>
    </form>
  </div>
  <div class="spinner-flex hide">
    <div class="spinner"></div>
  </div>
  <a href="#landing">
    <i class="fas fa-lg fa-pull-left fa-home"></i>
    Home
  </a>
  <a href="#signup">
    <i class="fas fa-lg fa-pull-left fa-user-plus"></i>
    Sign Up
  </a>
</section>
