<section class="has-top-margin">
  <div class="board">
    <div>
      <img src="/img/avatar.jpg"/>
    </div>
  </div>
  <div class="toolbar toolbar-flex-center toolbar-hash toolbar-raised">
    <a class="btn grayed">
      <i class="fas fa-lg fa-portrait"></i>
    </a>
    <a class="btn grayed">
      <i class="fas fa-lg fa-tools"></i>
    </a>
    <a class="btn grayed">
      <i class="fas fa-lg fa-users"></i>
    </a>
    <a class="btn grayed">
      <i class="fas fa-lg fa-bars"></i>
    </a>
  </div>
</section>
<div id="profile">
  <!--Templates belonging to this context are rendered here-->
</div>
