<section id="search" class="special has-top-margin">
  <div id="search-group" class="search-group">
    <div id="search" class="search">
      <input type="search" placeholder="Search Users" id="search-input" />
    </div>
  </div>
  <section
    class="collection is-with-placeholder has-top-margin-em"
    id="search-result-parent"
  >
    <!-- <div id="spinner" class="spinner-flex hide">
      <div class="spinner"></div>
    </div> -->
  </section>
  <div class="spinner-flex hide" id="spinner">
    <div class="spinner"></div>
  </div>
</section>
