<section class="special has-top-margin" id="settings">
  <div class="check-flex">
    <label class="check-label">
      Push Notifications
    </label>
    <label class="check-group">
      <input id="notif-check" type="checkbox" checked />
      <span class="slider round"></span>
    </label>
  </div>
  <div class="check-flex">
    <label class="check-label">
      Clear Passwords
    </label>
    <label class="check-group">
      <input type="checkbox" />
      <span class="slider round"></span>
    </label>
  </div>
</section>
