<section class="special has-top-margin">
  <div class="check-flex">
    <label class="check-label">
      Push Notifications
    </label>
      <label class="check-group">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
  </div>
  <div class="check-flex">
    <label class="check-label">
      Clear Passwords
    </label>
    <label class="check-group">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
  </div>
</section>
