<section class="special has-top-margin">
  <p>Sign Up</p>
  <div class="input-group">
    <form id="sign-up">
      <!-- <i class="fas fa-sm fa-pull-left fa-user"></i> -->
      <input type="text" name="username" placeholder="Username" required />
      <input type="password" name="password" placeholder="Password" required />
      <input type="text" name="first_name" placeholder="First Name" />
      <input type="text" name="last_name" placeholder="Last Name" />
      <button type="submit">Sign Up</button>
    </form>
    <div id="spinner" class="spinner-flex hide">
      <div class="spinner"></div>
    </div>
  </div>
  <a href="#landing">
    <i class="fas fa-lg fa-pull-left fa-home"></i>
    Home
  </a>
  <a href="#login">
    <i class="fas fa-lg fa-pull-left fa-user-lock"></i>
    Sign In
  </a>
</section>
