<section class="special has-top-margin" id="upload">
  <button class="round-button button-raised button-pink button-marginized">
    <i class="fas fa-lg fa-camera"></i>
  </button>
  <button class="round-button button-raised button-blue button-marginized">
    <i class="fas fa-lg fa-video"></i>
  </button>
  <div class="input-group">
    <form id="upload-form">
      <input type="file" name="file" multiple />
      <input type="text" name="caption" placeholder="Add caption" />
      <input
        type="text"
        name="remarks"
        placeholder="Say something about upload"
      />
      <button type="submit">Upload</button>
    </form>
  </div>
  <div id="spinner" class="spinner-flex hide">
    <div class="spinner"></div>
  </div>
</section>
