<!DOCTYPE html>
<html>
  <head>
    <title>This view is not supported</title>
    <link rel="stylesheet" href="/css/view-not-supported.css" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  </head>
  <body>
    <div class="container">
      <div>
        <h5>
          Viewport not supported. Try loading page on a screen with width lower
          than 501px
        </h5>
      </div>
    </div>
    <script src="/js/view-not-supported.js"></script>
  </body>
</html>
