@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@font-face {
  src: url('/fonts/Oswald/Oswald-Regular.ttf') format('truetype');
  font-family: 'Oswald Regular';
}

@font-face {
  src: url('/fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
  font-family: 'Ubuntu Regular';
}

#app {
  overflow-y: scroll;
}

/* #home {
  overflow-y: scroll;
} */

* {
  outline: none;
  font-family: 'Ubuntu Regular', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  background: transparent;
  border: none;
  color: white;
}

/* .container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
} */

.header {
  display: flex;
  flex-flow: row wrap;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 12px;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px;
}

.toolbar {
  display: flex;
  flex-flow: row wrap;
  padding: 12px;
}

.toolbar-raised {
  box-shadow: 1px 4px 2px silver;
}

.toolbar-raised-invert {
  box-shadow: -1px -4px 2px silver;
}

.toolbar-bordered {
  border: 2px solid darkgray;
}

.toolbar-purple {
  background: mediumpurple;
}

.toolbar-dew {
  background: honeydew;
}

.toolbar-ghostey {
  background: ghostwhite;
}

.toolbar-ivory {
  background: ivory;
}

.toolbar-mintcream {
  background: mintcream;
}

.toolbar-hash {
  background: ghostwhite;
}

.toolbar-flex-end {
  justify-content: flex-end;
}

.toolbar-flex-center {
  justify-content: center;
  align-items: center;
}

.btn {
  background: transparent;
  border: none;
  text-decoration: none;
  margin-left: 1.5em;
  margin-right: 1.5em;
  color: gainsboro;
  padding: 2px;
}

.btn:hover {
  color: midnightblue;
}

.btn.grayed {
  color: gainsboro;
  font-weight: bolder;
}

.btn.active {
  color: midnightblue;
}

.b-sidebar {
  color: black;
}

.main {
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  padding: 0;
  background: whitesmoke;
  position: absolute;
  height: 100%;
  width: 100vw;
}

.has-top-margin-em {
  margin-top: 3.5em;
}

.has-bottom-margin-em {
  margin-bottom: 2.5em;
}

.has-top-margin {
  margin-top: 30%;
}

.has-bottom-margin {
  margin-bottom: 20%;
}

.has-vert button {
  border: none;
  background: transparent;
  padding: 4px;
}

.has-vert i {
  font-size: 20px;
  color: white;
}

.special {
  padding: 10px;
  display: flex;
  flex-flow: column wrap;
  overflow: scroll;
}

.special p {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  font-family: 'Oswald Regular', sans-serif;
  font-size: 25px;
}

.has-svgs {
  display: flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
}

.has-svgs.as-vertical {
  flex-flow: column wrap;
}

.has-svgs.as-horizontal {
  flex-flow: row wrap;
}

.has-svgs img {
  width: 90px;
  height: 90px;
  margin: 30px;
}

.special-row {
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.sidebar a {
  display: block;
  padding: 12px 14px;
  text-align: center;
  color: black;
  font-size: 15px;
}

.sidebar ul {
  margin-top: 0.5em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 4px;
}

.special a {
  border: none;
  box-shadow: 0 4px 2px silver;
  border-radius: 20px;
  padding: 12px;
  background: mediumpurple;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  margin: 10px;
  transition: all 500ms ease-in;
}

.special a:hover {
  box-shadow: 2px 4px 4px silver;
  transform: translateX(-2px) translateY(-2px);
}

/* .special a i {
  font-size: 20px;
  margin-left: 2px;
  margin-right: 12px;
} */

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.input-group form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  text-align: center;
  margin: 18px;
  width: inherit;
  padding: 18px;
}

.input-group input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid gainsboro;
  transition: border 500ms ease-in-out;
  background: transparent;
  outline: none;
  padding: 3px;
  margin-bottom: 18px;
  display: block;
  width: inherit;
}

/* .input-group .has-icon-as-label input {
  background: element(fa)
} */

.input-group button {
  border: none;
  width: inherit;
  border-radius: 6px;
  padding: 10px;
  background: mediumvioletred;
  color: white;
  font-weight: bold;
  box-shadow: 0 4px 2px silver;
}

.check-flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
}

.check-label {
  font-weight: bold;
}

.check-group {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
  margin-right: 2.5em;
  margin-left: 2.5em;
}

.check-group input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dcdcdc;
  transition: 500ms;
}

.slider::before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 500ms;
  box-shadow: 0 1px 2px silver;
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

input:checked + .slider {
  background: mediumpurple;
}

input:checked + .slider::before {
  transform: translateX(40px);
  box-shadow: none;
}

/* .input-has-icon input {
  
} */
.search-group {
  position: relative;
  display: inline-block;
  height: 40px;
}

.search {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.search input {
  background: whitesmoke;
  box-shadow: 2px 2px 2px silver;
  border: none;
  width: 100%;
  padding: 12px;
}

.search::after {
  content: '\2192';
  position: absolute;
  font-size: 30px;
  right: 2px;
  top: 2px;
  color: gainsboro;
}

.input-group input:focus {
  border-color: mediumslateblue;
}

.spinner-flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.spinner-flex.hide {
  display: none;
}

.spinner {
  border: 5px solid gainsboro;
  border-top-color: mediumblue;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spinner 1s infinite linear;
}

.sidebar {
  border: none;
  background: whitesmoke;
  box-shadow: 1px 4px 2px silver;
  position: fixed;
  z-index: 2;
  height: 100%;
  right: -400px;
  top: 0;
  bottom: 0;
  transition: all 500ms ease-in;
  opacity: 0;
  width: 50%;
}

.sidebar.show {
  opacity: 1;
  right: 0;
}

.round-button {
  border: none;
  border-radius: 50%;
  color: white;
  padding: 8px;
  width: 40px;
  height: 40px;
}

.button-raised {
  box-shadow: 1px 4px 2px silver;
}

.button-pink {
  background: hotpink;
}

.button-blue {
  background: midnightblue;
}

.button-green {
  background: mediumseagreen;
}

.button-red {
  background: mediumvioletred;
}

.button-marginized {
  margin: 1.5em;
}

.board {
  background: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.board img {
  border: 2px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.board.marginized-left {
  margin-left: 1.5em;
}

.mini-card {
  border: 1px solid gainsboro;
  padding: 10px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 2px 2px silver;
  background: white;
  transition: all 500ms ease-in-out;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.mini-card p {
  font-size: 13px;
}

.mini-card:hover {
  box-shadow: 1px 2px 2px gold;
}

.collection {
  display: flex;
  width: inherit;
}

.collection.is-a-list {
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.collection.is-with-placeholder {
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.collection.is-grid-of-images {
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.feed-item > div {
  width: 100%;
}

.feed-item i {
  margin: 0.5em;
}

.feed-item i.shadowed {
  color: white;
  text-shadow: 1px 1px 1px black, -1px -1px 1px black, 1px -1px 1px black,
    -1px 1px 1px black, 1px 1px 1px black;
}

.collection.is-grid-of-images div {
  width: 70px;
  height: 70px;
  border: 1px solid silver;
  position: relative;
}

.feed-item img.upload {
  display: block;
  width: 100%;
  object-fit: cover;
}

.feed-item img.small {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid black;
}

.search-list-item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid black;
}

.collection.is-grid-of-images img {
  width: inherit;
  height: inherit;
}

.collection.is-grid-of-images div > button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

i.blue {
  color: mediumblue;
}

i.gainsboro {
  color: gainsboro;
}

i.green {
  color: mediumseagreen;
}

.feeds-card {
  display: flex;
}

.alert-backdrop {
  position: fixed;
  background: rgba(0, 0, 0, 0);
  display: none;
  height: 100%;
  width: 100%;
  transition: 1s all ease-in-out;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}

.alert-backdrop.show {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  opacity: 1;
}

.alert-box {
  background: ghostwhite;
  border-radius: 5px;
  display: flex;
  flex-flow: column wrap;
  height: 200px;
  width: 75%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.alert-box > .action {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 12px;
}

.feed-item {
  margin-top: 0.5em;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #dcdcdc;
}

.search-list-item {
  display: flex;
  padding: 12px;
  flex-flow: row wrap;
  border-bottom: 1px solid gainsboro;
  justify-content: left;
  width: 80%;
}

.inner-search-list-item {
  display: flex;
  padding-left: 2px;
  flex-flow: column wrap;
  justify-content: flex-start;
  margin-left: 0.5em;
}
